.page-home {
    background-color: #ffcc66


}
.card-left{text-align: left;
 background-color: #B8DB1A

}

.card-right{text-align: right;
background-color: #CBE264

}
.choose-author {
    background-color: transparent
}

