.page-home {
    background-color: #ffffff


}
.card-left{text-align: left;
 background-color: #9FB8AD

}

.card-right{text-align: right;
background-color: #CE8147

}
.choose-author {
    background-color: transparent
}

